@model BlogAppProject.Models.Post
@using BlogAppProject.Services
@using Microsoft.AspNetCore.Identity
@inject IImageService imageService 
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
          
            </div>
        </div>
    </div>
</article>
<!--Display comments related to this post-->
<!--Display the image of the comment's author -->
<hr />
    <article>
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
        <div class="row">
            <div class="col text-center">
                @foreach(var tag in Model.Tags)
                {
                    <a  class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                }
            </div>
        </div>
    </article>
<hr />
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId",Model.Id)
            <div class="form-group">
                <label class="h2 control-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-dark btn-block">Submit</button>
        </form>
    }
    else
    {
        <a class="btn btn-block btn-dark" asp-area="Identity" asp-page="/Account/Login" >Login to add comments</a>
    }


</div>
<hr />
<button id="commentSection" class="btn btn-sm btn-dark btn-block">@Model.Comments.Count COMMENTS(S) </button>

@foreach(var comment in Model.Comments)
{
    <div class="media media-border p-0 mb-2 bg-light">
        <img class="mr-2 mt-3 rounded circle" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData,comment.BlogUser.ContentType)"/>
        <div class="media-body">
            <h4>@comment.BlogUser.FullName</h4>
            <small><i>Posted on @comment.Created.ToString("MMM,dd,yyyy")</i></small>
            <p>@comment.Body</p>
            @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr>
                <button data-toggle="modal" data-target="#editModal" class="btn-sm btn-dark note-float-right font-weight-bold">EDIT</button>
            }
            @*Modals*@
            <div class="modal" id="editModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editing Comment</h4>
                        </div>
                        <!--Modal Body-->
                        <div class="modal-body">
                            <form asp-action="Edit" asp-controller="Comments">
                                @Html.Hidden("Id",comment.Id)
                                <div class="form-group">
                                    <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                                </div>
                                <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">Submit</button>
                            </form>
                        </div>
                        <!--Modal footer-->
                        <div class="model-footer">
                            <button type="button" class="btn-sm btn-dark font-weight-bold" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

